<div class="w-full h-full flex justify-center items-center mt-4 flex-col select-none">
    <div class="w-1/2 full-width-on-small">
        <h1 class="py-2 h1"><a class=" text-decoration-underline hover:text-blue-300" href="https://tailwindcss.com/docs/columns">Tailwind CSS-ramverk</a></h1>
        <p class="text-xl font-sans">
            Tailwind CSS är ett CSS-framework med fördefinierade verktygsklasser som gör det enklare att skapa anpassande layoutstrukturer utan att behöva skriva någon anpassad CSS-kod. 
            Det underlättar webbutvecklingen genom att möjliggöra direkt tillämpning av dessa klasser på våra HTML-element för att styra deras utseende och design gällande layouten typografin och färgerna med mera. 
        </p>
    </div>
    <div class="w-1/2 mt-6 text-xl font-sans full-width-on-small">
        <h5 class="h5">Bra med Tailwind CSS:</h5>
        <ul class="list-disc px-4">
            <li>Det finns möjlighet till anpassning för utveckare att skapa egna designer utan behov av att skriva omfattande CSS-kod själva. </li>
            <li>på grund av att det finns färdiga klasser gör det snabbare för utvecklare.</li>
            <!-- ... -->
        </ul>
        <h5 class="h5 pt-3">Mindre bra med Tailwind CSS:</h5>
        <ul class="list-disc px-4">
            <li>Det finns möjlighet till anpassning för utveckare att skapa egna designer utan behov av att skriva omfattande CSS-kod själva. </li>
            <li>på grund av att det finns färdiga klasser gör det snabbare för utvecklare.</li>
            <li>Storlek på den resulterande CSS-filen kan öka om många klasser används, vilket kan leda till större filstorlek.</li>
            <li>Att användningen av många klasser kan göra HTML-strukturen mer komplicerad och göra koden svårare att förstå. </li>
            <!-- ... -->
        </ul>
    </div>
    <div class="w-1/2 mt-6 full-width-on-small overflow-y-auto ">
        <h5 class="h5 py-2">Tabel med Tailwind ramverk: </h5>
        
            <table class="md:table-fixed w-full text-sm text-left border-collapse border border-slate-500">
              <thead class="bg-slate-200">
                <tr>
                  <th class="px-6 py-3 text-slate-700 border border-slate-600">#</th>
                  <th class="px-6 py-3 text-slate-700 border border-slate-600">Land</th>
                  <th class="px-6 py-3 text-slate-700 border border-slate-600">Stad</th>
                  <th class="px-6 py-3 text-slate-700 border border-slate-600">Gata</th>
                </tr>
              </thead>
              <tbody class="divide-y divide-slate-300">
                <tr class="bg-white hover:bg-slate-100">
                  <td class="px-6 py-4 border border-slate-700">1</td>
                  <td class="px-6 py-4 border border-slate-700">Sweden</td>
                  <td class="px-6 py-4 border border-slate-700">Helsingborg</td>
                  <td class="px-6 py-4 border border-slate-700">Södra Storgatan</td>
                </tr>
                <tr class="bg-slate-50 hover:bg-slate-100">
                  <td class="px-6 py-4 border border-slate-700">2</td>
                  <td class="px-6 py-4 border border-slate-700">USA</td>
                  <td class="px-6 py-4 border border-slate-700">Columbus</td>
                  <td class="px-6 py-4 border border-slate-700">Broad Street</td>
                </tr>
                <tr class="bg-white hover:bg-slate-100">
                  <td class="px-6 py-4 border border-slate-700">3</td>
                  <td class="px-6 py-4 border border-slate-700">USA</td>
                  <td class="px-6 py-4 border border-slate-700">Detroit</td>
                  <td class="px-6 py-4 border border-slate-700">Woodward Avenue</td>
                </tr>
                <tr class="bg-slate-50 hover:bg-slate-100">
                  <td class="px-6 py-4 border border-slate-700">4</td>
                  <td class="px-6 py-4 border border-slate-700">Canada</td>
                  <td class="px-6 py-4 border border-slate-700">Toronto</td>
                  <td class="px-6 py-4 border border-slate-700">Yonge Street</td>
                </tr>
              </tbody>
            </table>
    </div>
    <div class="w-1/2 mt-3 full-width-on-small">
        <app-form></app-form>
    </div>
</div>

