<h1 class="p-3 h1 text-center text-bg-secondary mb-0">Om Uppgiften</h1>
<hr class="border border-primary border-2 opacity-75">
<div class="container-fluid py-3 d-flex justify-center align-items-center select-none fs-5">
    <div class="d-flex flex-column align-items-center">
        <div class="alert alert-info w-50 full-width-on-small" role="alert">
            På den här sidan har jag använt båda ramverken för att stila. Till exempel kan du byta stil på navigeringsmenyn (navbar) mellan Bootstrap och Tailwind. 
            Undersidan för Bootstrap kommer att stylas med enbart Bootstrap, och på samma sätt kommer undersidan för Tailwind att stylas endast med Tailwind CSS.
          </div>
        <p class="col-6 pb-3 full-width-on-small" >- uppgiften går på att skapa en webbplats med totalt fyra undersidor <mark>(Hem, CSS-ramverk-1, CSS-ramverk-2 och publicering)</mark> som använder två olika CSS-ramverk för att styla sidorna.</p>
        <div class="d-flex w-50 full-width-on-small">
            <ul class="list-none border-t border-gray-300">
                <li class="py-2 font-semibold text-gray-700">Uppgiften's krav</li>
                <li class="py-2 text-gray-600">
                    1- Webbplatsen ska bestå av följande undersidor:
                    <ul class="ml-5 mt-2 list-disc text-gray-600">
                        <li class="py-1">Hem: Huvudsidan som ger en överblick över projektet.</li>
                        <li class="py-1">Bootstrap: En sida som visar exempel på komponenter och styling med Bootstrap.</li>
                        <li class="py-1">Tailwind: En sida som visar exempel på komponenter och styling med Tailwind CSS.</li>
                        <li class="py-1">Publicering: En sida som beskriver hur du publicerade webbplatsen och vilket verktyg jag använde.</li>
                    </ul>
                </li>
                <li class="py-2 text-gray-600">
                    2- CSS-ramverk:
                    <ul class="ml-5 mt-2 list-disc text-gray-600">
                        <li class="py-1">Använd Bootstrap för att bygga och styla en av undersidorna..</li>
                        <li class="py-1">Använd Tailwind CSS för att bygga och styla en annan undersida.</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="w-50 border-t border-gray-300 py-3 full-width-on-small">
            <h3 class="h3">Bootstrap CSS-ramverk</h3>
            <p class="text-break">
                Bootstrap är ett känt och flexibelt CSS-verktygslåde som låter oss att definiera element (knapparna,cards/formulär,navigationsmenyerna ) som kan användas för att snabbare skapa webbsidor. 
                Det använder ett klasssystem för att tillämpa design och layout. 
            </p>
        </div>
        <div class="w-50 border-t border-gray-300 py-3 full-width-on-small">
            <h3 class="h3">Tailwind CSS-ramverk</h3>
            <p>
                Tailwind CSS är en ramverk CSS för utility-first som gör att vi kan skapa design genom att använda små CSS-klasser direkt i HTML-koden istället för att skapa anpassad CSS-kodning. 
                Istället för att skapa våra egna CSS från grunden använder vi färdiga klasser såsom bg-blue50-, text-center och -p och så vidare. 
            </p>
        </div>
        
    </div>
    

</div>