<footer class="bg-dark py-4 mt-2">
    <div class="container">
        <div class="row justify-between">
            <div class="col-md-4 mx-2">
                <h5 class="h5 text-primary">Om Webbsidan</h5>
                <p class="text-white">Jag skapade den här sidan genom att använda angular ramverk, så den här sidan kommer att innehålla flera komponenter.</p>
            </div>
            <div class="col-md-4">
                <h5 class="h5 text-primary">Snabba Länker</h5>
                <ul class="list-unstyled navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item "><a routerLink="/home" routerLinkActive="active" class="nav-link text-white transition-opacity hover:opacity-50" aria-current="page">Hem</a></li>
                    <li class="nav-item"><a routerLink="/bootstrap" routerLinkActive="active" class="nav-link text-white transition-opacity hover:opacity-50">Bootstrap</a></li>
                    <li class="nav-item"><a routerLink="/tailwind" routerLinkActive="active" class="nav-link text-white transition-opacity hover:opacity-50">Tailwind</a></li>
                    <li class="nav-item"><a routerLink="/publicering" routerLinkActive="active" class="nav-link text-white transition-opacity hover:opacity-50">Publicering</a></li>
                </ul>
            </div>
        </div>
        <div class="text-center pt-3">
            <p class="text-white">© {{currentDate}} <span class="text-danger">Fullstack-utveckling med ramverk KM01.</span> Alla rättigheter förbehållna.</p>
        </div>
    </div>
</footer>